.about-section {
    background: #f3f3f3;
    width: 100vw;
}

.about-title {
    padding: 150px 250px;
    width: 100%;
    height: 350px;
    background: #008fa5;
  font-family: monospace;
  font-size: 56px;
  font-weight: 500;
  color: white;
  text-align: left;
}

.about-content {
    padding: 30px 250px;
    font-family: poppins;
    text-align: left;
}

.about-section .home-links {
    text-align: center;
    padding: 30px;
    color: blue;
}

@media  screen and (max-width: 650px) {
    .about-title {
        padding: 0 100px;
    }

    .about-section {
        background: #f3f3f3;
        width: 100vw;
    }

    .about-content {
        padding: 0 100px;
        font-family: poppins;
        text-align: left;
    }
    .navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 30px; /* Start with collapsed width */
    height: 100vh;
    background-color: white;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    overflow: hidden;
    z-index: 1000;
    }
}